<% @posts.each do |post| %>
  <div class="jumbotron">
    <h1>
      <%= link_to  post.title, post_path(post) %>
    </h1>

    <p class="lead">
      <%= post.body %>
    </p>

    <h6><%= post.user.email %></h6>
</div>
<% end %>
<% if @posts.size > 7 %>
  <%== pagy_bootstrap_nav(@pagy)  %>
<% end %>
<%= render  'users/index' %>